[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xlsxwriter = "*"
openpyxl = "*"
python-dateutil = "*"

[dev-packages]
pyinstaller="v5.6.2"

[requires]
python_version = "3.7"
